# Imports

In [3]:
# from __future__ import division
import itertools
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from random import randint
from matplotlib import style
import seaborn as sns
import env
import os

from sklearn.cluster import DBSCAN
from sklearn.preprocessing import MinMaxScaler

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{db}'

In [6]:

def get_cohort():

    if os.path.isfile('cohorts.csv'):
        return pd.read_csv('cohorts.csv', index_col=0)

    else:
        query = '''
        SELECT *
        FROM cohorts;
        '''        
        df= pd.read_sql(query, get_connection('curriculum_logs'))
        df.to_csv('cohorts.csv')
    return df

In [7]:
cohorts = get_cohort()

In [17]:
cohorts = cohorts.rename(columns={'id':'cohort'})

In [11]:
# Import .txt file and convert it to a DataFrame object
df = pd.read_table("anonymized-curriculum-access.txt", sep = '\s', header = None, 
                   names = ['date', 'time', 'page', 'id', 'cohort', 'ip'])

In [19]:
df = pd.merge(df, cohorts, on='cohort')

In [20]:
df.date = pd.to_datetime(df.date)
df = df.set_index('date')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 801476 entries, 2018-01-26 to 2021-04-21
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        801476 non-null  object
 1   page        801475 non-null  object
 2   id          801476 non-null  int64
 3   cohort      801476 non-null  float64
 4   ip          801476 non-null  object
 5   name        801476 non-null  object
 6   slack       801476 non-null  object
 7   start_date  801476 non-null  object
 8   end_date    801476 non-null  object
 9   created_at  801476 non-null  object
 10  updated_at  801476 non-null  object
 11  deleted_at  0 non-null       object
 12  program_id  801476 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 85.6+ MB

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
* `web_dev` : javascript-i
* `data_science` : classification overview

In [22]:
df = df[df.page != '/']

In [34]:
df.program_id = np.where(df.program_id == 3, 'data_science', 'web_dev')

In [49]:
df[df.program_id == 'web_dev']['page'].value_counts()

javascript-i                18193
toc                         17580
search/search_index.json    15331
java-iii                    13162
html-css                    13111
                            ...
query/personal-site             1
register%20t                    1
quiz115                         1
quic/115                        1
extra                           1
Name: page, Length: 2053, dtype: int64

In [50]:
df[df.program_id == 'data_science']['page'].value_counts()

search/search_index.json                    2203
classification/overview                     1785
1-fundamentals/modern-data-scientist.jpg    1655
1-fundamentals/AI-ML-DL-timeline.jpg        1651
1-fundamentals/1.1-intro-to-data-science    1633
                                            ...
itc-ml                                         1
python/custom-sorting-functions                1
imports                                        1
5-stats/4.2-compare-means/null                 1
java-ii/object-oriented-programming            1
Name: page, Length: 681, dtype: int64

# 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [188]:
for program in df.program_id.unique():
    print(program)
    #print(df[df.program_id == program].page.value_counts().sort_values(ascending=False).head(50))
    print(df[(df.program_id == program)].page.value_counts().loc[lambda x : x>100].sort_values(ascending=False).tail(50))
    print('---')

web_dev
appendix/further-reading/html-css/flexbox-additional-concepts    168
prework/cli                                                      167
content/php_i/intro-via-interactive-shell                        162
content/laravel/intro/application-structure.html                 161
prework/cli/01-intro                                             160
appendix/professional-development/job-search-workshop            160
content/javascript                                               159
appendix/extra-challenges/locations                              156
content/php_i/gitbook/images/favicon.ico                         154
content/git                                                      152
appendix/extra-challenges/sales-tax                              151
appendix/extra-challenges/pdf-parser                             149
slides/passwords                                                 147
3-sql/database-design                                            142
content/laravel/intro/gitbook/images/favicon.ico                 140
content/php_iv                                                   139
prework/cli/02-listing-files                                     133
classification/prep                                              132
classification/project                                           132
content/laravel/intro/environment.html                           131
appendix/further-reading/javascript/this                         131
prework/cli/03-file-paths                                        131
content/html-css/elements.html                                   127
regression/feature-engineering                                   126
content/html-css/gitbook/images/favicon.ico                      125
regression/acquire-and-prep                                      123
appendix/extra-challenges/trains                                 123
regression/evaluate                                              122
regression/split-and-scale                                       121
python/data-types-and-variables                                  121
regression/model                                                 116
jquery/mapbox-api                                                116
appendix/professional-development/offer-letters                  115
classification/explore                                           114
stats/compare-means                                              111
5-stats/3-probability-distributions                              110
clustering/model                                                 109
clustering/wrangle                                               109
regression/explore                                               109
stats/probability-distributions                                  108
python/intro-to-matplotlib                                       108
stats/simulation                                                 107
content/mysql/intro-to-mysql                                     107
fundamentals/data-science-pipeline                               107
fundamentals/DataToAction_v2.jpg                                 107
classification/evaluation                                        107
content/javascript_ii                                            105
python/control-structures                                        104
classification/logistic-regression                               101
python/introduction-to-python                                    101
Name: page, dtype: int64
---
data_science
fundamentals/cli/intro                                    157
stats/more-statistical-testing-examples                   156
13-advanced-topics/3.4-intro-to-flask                     155
3-sql/11-case-statements                                  155
9-timeseries/5.2-modeling-lesson2                         154
nlp/explore                                               154
4-python/7.5-intro-to-seaborn                             153
2-storytelling/3-tableau                                  153
nlp/prepare                                               152
1-fundamentals/3-vocabulary                               152
nlp/project                                               151
appendix/postwork                                         151
3-sql/12-more-exercises                                   148
clustering/now_what.jpg                                   142
python/ds-libraries-overview                              139
4-python/7.2-intro-to-matplotlib                          138
6-regression/5-evaluate                                   136
timeseries/project                                        134
appendix/cli/7-more-topics                                134
anomaly-detection/detecting-timeseries-anomalies          132
clustering/using-clusters                                 132
fundamentals/cli/creating-files-and-directories           131
13-advanced-topics/3.3-building-a-model                   131
13-advanced-topics/1-tidy-data                            131
11-nlp/1-overview                                         129
3-sql/9.1-relationships-overview                          128
appendix/ds-environment-setup                             128
4-python/7-working-with-files                             124
1-fundamentals/2.2-functions                              123
anomaly-detection/discrete-probabilistic-methods          123
8-clustering/5-model                                      122
fundamentals/cli/file-paths                               122
storytelling/tableau                                      122
storytelling/refine                                       122
8-clustering/5.2-kmeans-part-2                            121
6-regression/8-project                                    120
fundamentals/cli/navigating-the-filesystem                120
fundamentals/ml-methodologies-drawing.jpg                 118
fundamentals/diagram-of-ds-pipeline-fraud-example.jpeg    118
fundamentals/data-science-modules.jpg                     118
appendix/data_science_community                           117
4-python/7.3-intro-to-numpy                               115
2-storytelling/2.3-refine                                 112
2-storytelling/3.2-connecting-to-data                     110
fundamentals/cli/moving-files                             110
storytelling/present                                      109
distributed-ml/wrangle                                    108
nlp/overview                                              106
storytelling/connecting-to-data                           103
10-anomaly-detection/5-detecting-with-clustering          102
Name: page, dtype: int64
---

In [187]:
for cohort in df.name.unique():
    print(cohort)
    print(df[df.name == cohort].page.value_counts().sort_values(ascending=False).head(10))
    print('---')

Hampton
java-iii                 57
appendix                 55
java-ii                  46
java-i                   46
spring                   43
javascript-i             36
javascript-ii            31
java-iii/servlets        30
mysql                    30
java-iii/jsp-and-jstl    27
Name: page, dtype: int64
---
Teddy
spring                      744
java-iii                    732
mysql                       638
javascript-i                615
mkdocs/search_index.json    595
java-i                      522
jquery                      512
java-ii                     509
appendix                    505
javascript-ii               487
Name: page, dtype: int64
---
Sequoia
spring                                         364
spring/fundamentals/views                      207
javascript-i                                   202
spring/fundamentals/controllers                190
spring/fundamentals/repositories               172
appendix                                       170
mkdocs/search_index.json                       168
html-css                                       168
spring/fundamentals/form-model-binding         156
spring/fundamentals/security/authentication    134
Name: page, dtype: int64
---
Arches
javascript-i                 294
html-css                     215
javascript-ii                204
spring                       192
java-ii                      167
java-iii                     153
appendix                     133
jquery                       133
java-i                       132
spring/fundamentals/views     98
Name: page, dtype: int64
---
Niagara
spring           65
index.html       63
java-iii         29
mysql            24
javascript-i     23
javascript-ii    21
appendix         20
java-i           18
java-ii          17
spring/setup     13
Name: page, dtype: int64
---
Pinnacles
javascript-i         69
javascript-ii        58
html-css             56
spring               56
java-i               54
javascript-ii/npm    51
java-ii              50
java-iii             45
mysql                39
index.html           36
Name: page, dtype: int64
---
Quincy
content/laravel/intro                               38
content/html-css                                    33
content/laravel/intro/environment.html              31
content/laravel/intro/application-structure.html    20
content/mysql/intro-to-mysql                        19
content/php_iii                                     19
javascript-i/conditionals                           16
content/php_iii/php-with-html                       15
java-i                                              14
content/appendix                                    14
Name: page, dtype: int64
---
Kings
index.html                                              84
content/laravel/intro                                   83
content/laravel/intro/application-structure.html        63
content/laravel/intro/gitbook/images/favicon.ico        56
content/php_iii                                         47
content/html-css                                        45
content/php_iv                                          42
content/laravel/quickstart/db-migrations.html           40
content/php_ii                                          40
content/laravel/quickstart/resource-controllers.html    39
Name: page, dtype: int64
---
Lassen
index.html                          877
javascript-i                        233
java-iii                            224
spring                              222
html-css                            174
appendix                            170
java-ii                             160
java-i                              138
spring/fundamentals/repositories    115
javascript-ii                       107
Name: page, dtype: int64
---
Mammoth
java-i                                  19
java-iii                                13
spring                                  12
spring/fundamentals/controllers         12
spring/fundamentals/views               11
javascript-ii                           10
java-ii                                 10
java-iii/jsp-and-jstl                    9
appendix                                 9
java-iii/deployment-and-dependencies     9
Name: page, dtype: int64
---
Glacier
content/html-css                                                             29
javascript-i/introduction/working-with-data-types-operators-and-variables    24
html-css                                                                     21
content/html-css/introduction.html                                           20
javascript-i/functions                                                       20
javascript-i/introduction/variables                                          19
javascript-i/introduction/operators                                          18
javascript-i/conditionals                                                    16
html-css/introduction                                                        14
javascript-i/javascript-with-html                                            14
Name: page, dtype: int64
---
Denali
mkdocs/search_index.json     1
prework/databases            1
prework/versioning/github    1
Name: page, dtype: int64
---
Joshua
content/html-css                           19
content/html-css/introduction.html         14
content/javascript                         12
content/mysql/intro-to-mysql               10
content/html-css/elements.html              9
index.html                                  8
content/html-css/forms.html                 7
content/javascript/primitive-types.html     7
content/php_iv                              7
content/php_i                               6
Name: page, dtype: int64
---
Olympic
javascript-i                                                                 128
java-i                                                                        76
jquery                                                                        71
java-i/methods                                                                69
html-css                                                                      69
javascript-i/introduction/working-with-data-types-operators-and-variables     65
javascript-i/javascript-with-html                                             63
java-i/console-io                                                             60
javascript-i/bom-and-dom/bom                                                  60
java-ii                                                                       58
Name: page, dtype: int64
---
Ulysses
mkdocs/search_index.json                  721
html-css                                  562
javascript-i                              526
java-ii                                   425
java-iii                                  412
spring                                    409
java-i                                    377
mysql                                     367
jquery                                    364
spring/fundamentals/form-model-binding    357
Name: page, dtype: int64
---
Badlands
content/php_ii/command-line                                                     6
content/php_i                                                                   5
content/php_ii/control-structures-i                                             5
content/php_ii/command-line/io-streams.html                                     5
content/php_ii                                                                  4
content/php_i/intro-via-interactive-shell                                       3
content/php_i/intro-to-operators                                                2
content/laravel/intro                                                           2
content/php_i/intro-via-interactive-shell/hello-world-and-other-strings.html    2
content/php_i/types-and-variables-i                                             2
Name: page, dtype: int64
---
Apollo
content/html-css                               2
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
Name: page, dtype: int64
---
Ike
html-css                 12
html-css/elements        11
html-css/introduction    10
content/html-css          9
html-css/forms            8
javascript-i              7
index.html                6
toc                       6
html-css/css-i            6
spring                    5
Name: page, dtype: int64
---
Voyageurs
javascript-i                   884
java-iii                       770
java-ii                        756
mysql                          663
spring                         650
java-i                         641
javascript-ii                  584
jquery                         583
html-css                       528
java-i/introduction-to-java    447
Name: page, dtype: int64
---
Wrangell
toc                                      991
javascript-i                             560
search/search_index.json                 504
html-css                                 411
java-i                                   406
jquery                                   377
java-iii                                 337
java-ii                                  325
html-css/css-ii/bootstrap-grid-system    313
javascript-i/functions                   313
Name: page, dtype: int64
---
Xanadu
javascript-i                722
html-css                    597
search/search_index.json    577
jquery                      544
mysql                       509
java-ii                     502
java-iii                    497
javascript-ii               496
java-i                      484
spring                      454
Name: page, dtype: int64
---
Franklin
javascript-ii/es6              10
java-i                          3
java-iii/user-input             3
java-ii                         3
java-iii                        3
spring                          2
jquery                          2
javascript-i/coffee-project     2
javascript-i                    2
spring/setup                    2
Name: page, dtype: int64
---
Yosemite
toc                                697
javascript-i                       452
html-css                           384
spring                             381
search/search_index.json           361
java-iii                           351
javascript-ii                      337
mysql                              331
javascript-ii/map-filter-reduce    299
jquery                             283
Name: page, dtype: int64
---
Staff
javascript-i                1817
spring                      1403
java-iii                    1393
search/search_index.json    1349
appendix                    1288
html-css                    1284
java-ii                     1260
jquery/ajax/weather-map     1050
javascript-ii                993
jquery                       917
Name: page, dtype: int64
---
Zion
toc                         1465
javascript-i                 897
java-iii                     753
search/search_index.json     700
html-css                     675
spring                       672
javascript-ii                647
java-ii                      624
mysql                        605
java-i                       605
Name: page, dtype: int64
---
Andromeda
toc                         638
javascript-i                516
spring                      487
java-iii                    433
java-ii                     398
html-css                    375
mysql                       355
jquery                      338
java-i                      338
search/search_index.json    318
Name: page, dtype: int64
---
Betelgeuse
search/search_index.json                 761
javascript-i                             717
toc                                      610
jquery                                   542
html-css/elements                        495
java-i                                   482
java-ii                                  481
java-iii                                 472
html-css                                 457
html-css/css-ii/bootstrap-grid-system    418
Name: page, dtype: int64
---
Ceres
search/search_index.json    1380
javascript-i                1003
toc                          911
html-css                     766
java-iii                     682
java-ii                      681
jquery                       637
mysql                        622
spring                       562
javascript-ii                534
Name: page, dtype: int64
---
Bayes
1-fundamentals/modern-data-scientist.jpg             650
1-fundamentals/AI-ML-DL-timeline.jpg                 648
1-fundamentals/1.1-intro-to-data-science             640
search/search_index.json                             588
6-regression/1-overview                              521
10-anomaly-detection/AnomalyDetectionCartoon.jpeg    387
10-anomaly-detection/1-overview                      384
6-regression/5.0-evaluate                            333
5-stats/3-probability-distributions                  320
5-stats/4.2-compare-means                            316
Name: page, dtype: int64
---
Deimos
javascript-i                896
html-css                    773
toc                         750
search/search_index.json    746
jquery                      563
spring                      533
java-iii                    523
mysql                       517
java-ii                     511
javascript-ii               464
Name: page, dtype: int64
---
Europa
toc                                        964
search/search_index.json                   742
javascript-i                               506
java-iii                                   451
html-css/elements                          430
java-ii                                    375
mysql                                      372
jquery                                     370
html-css/css-i/selectors-and-properties    353
html-css                                   353
Name: page, dtype: int64
---
Fortuna
toc                         1293
search/search_index.json    1020
java-iii                     786
javascript-i                 785
java-ii                      657
spring                       636
mysql                        591
html-css                     585
java-i                       555
jquery                       514
Name: page, dtype: int64
---
Curie
6-regression/1-overview                              595
search/search_index.json                             538
1-fundamentals/modern-data-scientist.jpg             467
1-fundamentals/AI-ML-DL-timeline.jpg                 465
1-fundamentals/1.1-intro-to-data-science             461
3-sql/1-mysql-overview                               441
10-anomaly-detection/1-overview                      345
10-anomaly-detection/AnomalyDetectionCartoon.jpeg    345
4-python/8.4.3-dataframes                            260
4-python/8.4.4-advanced-dataframes                   246
Name: page, dtype: int64
---
Apex
search/search_index.json    1497
toc                          810
html-css                     738
javascript-i                 669
java-ii                      666
java-iii                     663
spring                       600
java-i                       590
mysql                        483
jquery                       474
Name: page, dtype: int64
---
Ganymede
search/search_index.json    1095
toc                          822
javascript-i                 760
java-iii                     651
java-ii                      641
appendix                     561
jquery                       536
javascript-ii                525
java-i                       515
spring                       508
Name: page, dtype: int64
---
Hyperion
toc                         1022
javascript-i                 910
java-iii                     701
java-ii                      688
search/search_index.json     670
mysql                        553
spring                       526
jquery                       497
java-i                       489
html-css                     439
Name: page, dtype: int64
---
Darden
classification/overview                           1109
classification/scale_features_or_not.svg           943
sql/mysql-overview                                 774
search/search_index.json                           664
anomaly-detection/AnomalyDetectionCartoon.jpeg     612
anomaly-detection/overview                         592
1-fundamentals/AI-ML-DL-timeline.jpg               470
1-fundamentals/modern-data-scientist.jpg           470
1-fundamentals/1.1-intro-to-data-science           460
classification/logistic-regression                 423
Name: page, dtype: int64
---
Bash
search/search_index.json     660
toc                          404
javascript-i                 374
java-iii                     324
spring                       311
java-ii                      268
html-css                     265
jquery                       262
javascript-i/introduction    256
mysql                        254
Name: page, dtype: int64
---
Jupiter
toc                         1866
search/search_index.json     998
javascript-i                 926
java-iii                     795
html-css                     784
java-ii                      755
spring                       621
mysql                        564
java-i                       503
jquery                       446
Name: page, dtype: int64
---
Kalypso
javascript-i                631
toc                         495
html-css                    495
jquery                      470
search/search_index.json    467
java-iii                    456
javascript-ii               440
java-ii                     417
java-i                      408
mysql                       378
Name: page, dtype: int64
---
Luna
javascript-i                                                                 676
search/search_index.json                                                     405
toc                                                                          373
javascript-i/introduction/working-with-data-types-operators-and-variables    315
html-css                                                                     307
jquery                                                                       301
java-iii                                                                     259
java-ii                                                                      255
javascript-ii                                                                247
html-css/css-i/flexbox/flexbox-in-practice                                   232
Name: page, dtype: int64
---
Easley
classification/scale_features_or_not.svg                         463
classification/overview                                          445
classification/classical_programming_vs_machine_learning.jpeg    432
fundamentals/AI-ML-DL-timeline.jpg                               381
fundamentals/modern-data-scientist.jpg                           379
fundamentals/intro-to-data-science                               372
sql/mysql-overview                                               295
search/search_index.json                                         251
regression/model                                                 204
stats/compare-means                                              202
Name: page, dtype: int64
---
Marco
toc                                                                          910
javascript-i                                                                 907
javascript-i/introduction/working-with-data-types-operators-and-variables    505
html-css                                                                     479
javascript-i/javascript-with-html                                            411
jquery                                                                       405
javascript-i/functions                                                       382
javascript-i/loops                                                           312
javascript-i/conditionals                                                    292
html-css/elements                                                            287
Name: page, dtype: int64
---
Neptune

# 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
* Student ID's 832, 278, 679, 956, 812, 388, 572, 889, 968, and 963 all access curriculum 15 or less time durings their cohorts

In [178]:
df.loc[df['id'].isin([832, 278, 679, 956, 812, 388, 487, 889, 968, 963])].groupby('id')[['name', 'program_id', 'start_date', 'end_date']].max()

          name    program_id start_date   end_date
id
278  Voyageurs       web_dev 2018-05-29 2018-10-11
388  Andromeda       web_dev 2019-03-18 2019-07-30
487      Bayes  data_science 2019-08-19 2020-01-30
679     Darden  data_science 2020-07-13 2021-01-12
812   Hyperion       web_dev 2020-05-26 2020-11-10
832    Jupiter       web_dev 2020-09-21 2021-03-30
889      Marco       web_dev 2021-01-25 2021-07-19
956     Oberon       web_dev 2021-04-12 2021-10-01
963     Oberon       web_dev 2021-04-12 2021-10-01
968     Oberon       web_dev 2021-04-12 2021-10-01

In [135]:
df['in_session_access'] = np.where((df.index < df.end_date) & (df.index > df.start_date), 1, 0)

In [177]:
df[df['in_session_access'] == 1].groupby('id').sum().sort_values(by='in_session_access').head(15)

     cohort  post_grad_access  in_session_access
id
832   124.0                 0                  2
278    72.0                 0                  3
679   177.0                 0                  3
956   556.0                 0                  4
812   406.0                 0                  7
388   217.0                 0                  7
572   583.0                 0                 11
889  1890.0                 0                 14
968  2085.0                 0                 15
64    780.0                 0                 15
963  2224.0                 0                 16
487   544.0                 0                 16
961  2363.0                 0                 17
772  1240.0                 0                 20
49    462.0                 0                 22

# 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

# 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

# 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
* Did not detect any post graduation access from Data Science students
* For Web Dev students Top 5 most accessed were: javascript-i, spring, search, html-css, and java-iii

In [99]:
# nmake a loop that checks each student, and for the days they are actgive comapres the amount of page views
# they have to the population average and checks if they in the bottom %25 of page views
df[['start_date', 'end_date']] = df[['start_date', 'end_date']].apply(pd.to_datetime)

In [107]:
df['post_grad_access'] = np.where(df.index > df.end_date, 1, 0)

In [181]:
df.groupby(['program_id', 'page'])['post_grad_access'].sum().sort_values(ascending=False).head(60)

program_id  page
web_dev     javascript-i                                                                 4965
            spring                                                                       4261
            search/search_index.json                                                     3681
            html-css                                                                     3678
            java-iii                                                                     3537
            java-ii                                                                      3439
            java-i                                                                       3123
            appendix                                                                     3071
            javascript-ii                                                                2978
            mysql                                                                        2574
            toc                                                                          2564
            jquery                                                                       2464
            index.html                                                                   1721
            spring/fundamentals/repositories                                             1712
            spring/fundamentals/views                                                    1698
            spring/fundamentals/controllers                                              1682
            spring/setup                                                                 1552
            jquery/ajax/weather-map                                                      1397
            java-iii/servlets                                                            1350
            html-css/elements                                                            1254
            java-iii/jsp-and-jstl                                                        1232
            spring/fundamentals/relationships                                            1182
            java-i/introduction-to-java                                                  1168
            java-ii/object-oriented-programming                                          1162
            java-i/syntax-types-and-variables                                            1151
            spring/fundamentals/form-model-binding                                       1130
            javascript-i/javascript-with-html                                            1085
            html-css/introduction                                                        1060
            javascript-i/functions                                                       1055
            java-iii/jdbc                                                                1039
            spring/fundamentals/security/authentication                                  1007
            java-i/methods                                                               1007
            mysql/tables                                                                  982
            java-i/console-io                                                             973
            spring/fundamentals/services                                                  972
            mysql/basic-statements                                                        964
            html-css/forms                                                                955
            java-ii/arrays                                                                949
            javascript-ii/promises                                                        942
            java-ii/inheritance-and-polymorphism                                          934
            mysql/users                                                                   932
            javascript-i/loops                                                            931
            mysql/introduction                                                            928
            javascript-i/conditionals                                                     922
            java-i/control-statements-and-loops                                           912
            mysql/databases                                                               901
            javascript-ii/ajax-api                                                        874
            javascript-i/introduction/working-with-data-types-operators-and-variables     862
            java-ii/collections                                                           855
            java-iii/mvc                                                                  853
            javascript-ii/es6                                                             853
            classification/overview                                                       852
            java-iii/user-input                                                           844
            java-ii/interfaces-and-abstract-classes                                       826
            javascript-i/bom-and-dom/dom                                                  824
            sql/mysql-overview                                                            822
            javascript-ii/map-filter-reduce                                               798
            jquery/ajax/requests-and-responses                                            796
            javascript-ii/npm                                                             769
            javascript-i/bom-and-dom/bom                                                  741
Name: post_grad_access, dtype: int64

# 7. Which lessons are least accessed? 
* Filtered for lessons that were accessed at least once
* Subject matter of list members appears indicative of deprecated pages, and not simply a lack of interest or usage. 
* Top 10 Least Accessed: Introduction to Python, Understand, Evaluate, Database-Design, 12-distributed-ml/6.3-prepare-part-3, sql.mysql-overview, tidy-data, classification/explore-old, data-science-pipeline, java-ii/object-oriented-programming

In [89]:
least_accessed = df[(df.program_id == program)].page.value_counts().loc[lambda x : x > 0].sort_values(ascending=False).tail(50)

In [90]:
remove = ['.html','.ico','.svg','.json'] 

pattern = '|'.join(remove)

least_accessed = least_accessed.loc[~least_accessed.index.str.contains(pattern, case=False)]

In [91]:
least_accessed.tail(10)

introduction-to-python                  1
understand                              1
evaluate                                1
database-design                         1
12-distributed-ml/6.3-prepare-part-3    1
sql.mysql-overview                      1
tidy-data                               1
classification/explore-old              1
data-science-pipeline                   1
java-ii/object-oriented-programming     1
Name: page, dtype: int64